<ion-header>
  <ion-toolbar>
    <ion-title>
      Smartphone Xiaomi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-content>
        <ion-img src="/assets/1.jpeg"></ion-img>
      
      <p>- Type Hp         : Xiaomi S2</p>
      <p>- RAM/MEMORY      : 3/32 4/64 </p>
      <p>- OS              : Oreo 8.1</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
        <ion-img src="/assets/2.png"></ion-img>
        <p>- Type Hp         : Xiaomi Lite y1</p>
        <p>- RAM/MEMORY      : 3/32 4/64 </p>
        <p>- OS              : Oreo 8.1</p>
          </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
        <ion-img src="/assets/3.png"></ion-img>
        <p>- Type Hp         : Xiaomi 6 pro</p>
      <p>- RAM/MEMORY      : 3/32 4/64 </p>
      <p>- OS              : Oreo 8.1</p>
          </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
        <ion-img src="/assets/4.png"></ion-img>
        <p>- Type Hp         : Xiaomi 5 pro</p>
      <p>- RAM/MEMORY      : 3/32 4/64 </p>
      <p>- OS              : Oreo 8.1</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
        <ion-img src="/assets/5.jpg"></ion-img>
        <p>- Type Hp         : Xiaomi 7 pro</p>
      <p>- RAM/MEMORY      : 3/32 4/64 </p>
      <p>- OS              : Oreo 8.1</p>
    </ion-card-content>
  </ion-card>
</ion-content>
